.post {
    width: 100%;
    background-color: #ffff;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
}

.post div.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #f6f6f6;
}

.post header .img:last-child {
    height: 32px;
    background-color: transparent;
}

.post header .img:last-child:hover {
    background-color: #f6f6f6;
}

.post header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 0;
}

.post-body span {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.post-body span:hover {
    color: #0a66c2;
    text-decoration: underline;
}

.post footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
}

.post footer .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 12px;
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.post footer .details .feeds {
    display: flex;
    align-items: center;
    position: relative;
}

.post footer .details .feeds .emojis {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.post footer .details .feeds .emojis div:nth-child(2) {
    position: relative;
    left: -4px;
    z-index: 1;
}

.post footer .details .feeds .emojis div:nth-child(3) {
    position: relative;
    left: -8px;
    z-index: 2;
}

.post footer .details .feeds .emojis div:nth-child(4) {
    position: relative;
    left: -12px;
    z-index: 3;
}
.post footer .details .feeds .emojis div:nth-child(5) {
    position: relative;
    left: -14px;
    z-index: 4;
}
.post footer .details .feeds .emojis div:nth-child(5) {
    position: relative;
    left: -18px;
    z-index: 5;
    border-radius: 50%;

}
.post footer .details .feeds .feeds-number {
    position: absolute;
    color: rgba(0, 0, 0, 0.9);
}


.post footer .details .feeds .emojis .sad,
.post footer .details .feeds .emojis .angry,
.post footer .details .feeds .emojis .laughing {
    font-size: 14px;
    background-color: white;
    border-radius: 50%;
}

.post footer .details .feeds .emojis .like {
    font-size: 14px;
    background-color: white;
    border-radius: 50%;
    padding-left: 2px;
}

.post footer .details .feeds .emojis .love {
    width: 14px;
    height: 14px;
    font-size: 6px;
}


.post footer .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    width: 100%;
    padding: 8px;
}

.post footer .actions > div {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 167ms;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition-property: background-color, color;
}


.post .actions > div:hover {
    background-color: #ebebeb;
}

.post .actions div:active {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.9);
}

.post .actions .feed-container {
    position: relative;
    padding: 0;
}
.post .actions .feed-container .feed {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px;
}

.post .actions .feed-container > div {
    font-size: 16px;
}

.post  div.like {
    color: #0a66c2;
    font-size:  16px;
}
.post .actions .feed-container div.like ~ span {
    color: #0a66c2;
}

.post .actions .feed-container .laughing,
.post .actions .feed-container .sad,
.post .actions .feed-container .angry {
    font-size: 18px;
}

.post .actions .feed-container  .laughing~span,
.post .actions .feed-container .sad~span,
.post .actions .feed-container .angry~span {
    color: #F7B928;
}


.post .love {
    display: flex;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.post .actions .feed-container .love ~ span {
    color: red;
}

.post .actions .feed-container .reactions {
    display: none;
    position: absolute;
    top: -15px;
    left: -32px;
    background-color: white;
    column-gap: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 130px;
    height: 25px;
    opacity: 0;
    transition: opacity 0.2s;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
    cursor: none;
}


.post .actions .feed-container.hoverable:hover .reactions,
.post .actions .feed-container.hoverable:focus .reactions { 
    opacity: 1;
    display: flex;
}



.post .actions .feed-container .reactions > div {
    cursor: pointer;
    font-size: 16px;
}

.post .actions .feed-container .reactions > div:hover:nth-child(n)  {
   font-size: 22px;
   transition: font-size 0.15s;
}
.post .actions .feed-container .reactions .love:hover:nth-child(n) {
    font-size: 11px;
}
.post .actions .feed-container .reactions .love:hover {
    width: 23px;
    height: 23px;
}

.post .actions .feed-container .reactions > div.love {
    width: 17px;
    height: 17px;
    font-size: 9px;
    transition: width 0.15s , height 0.15s;
}

.post header > div {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
}

.post header > div .link:hover {
    color: #0a66c2;
    text-decoration: underline;
}
.post .files-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 30px;
}

.post .files-section img {
    flex-basis: calc((100% - 20px)/ 3);
    flex-grow: 1;
    aspect-ratio: inherit;
    max-height: 200px;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.post .files-section video {
    width: 100%;
    aspect-ratio: inherit;
    max-width: 350px;
    margin: auto;
}

@media (max-width: 432px) {
    .post {
        font-size: 12px;
    }
    .post footer .details {
        font-size: 11px;
    }
    .post footer .details .feeds .emojis .sad,
    .post footer .details .feeds .emojis .angry,
    .post footer .details .feeds .emojis .laughing {
        font-size: 12px;
    }
    .post footer .details .feeds .emojis .like {
        font-size: 12px;
    }
    .post footer .details .feeds .emojis .love {
        width: 12px;
        height: 12px;
    }
    .post footer .actions {
        font-size: 12px;
    }
    .post .actions .feed-container > div {
        font-size: 14px;
    }

    .post div.like {
        font-size: 14px;
    }

    .post .actions .feed-container .laughing,
    .post .actions .feed-container .sad,
    .post .actions .feed-container .angry {
        font-size: 15.5px;
    }

    .post .love {
        font-size: 7px;
        width: 17px;
        height: 17px;
    }
    .post .actions .feed-container .reactions > div {
        font-size: 14px;
    }

    .post .actions .feed-container .reactions>div:hover:nth-child(n) {
        font-size: 20px;
        transition: font-size 0.15s;
    }

    .post .actions .feed-container .reactions .love:hover:nth-child(n) {
        font-size: 10px;
    }

    .post .actions .feed-container .reactions .love:hover {
        width: 20px;
        height: 20px;
    }
    .post .actions .feed-container .reactions>div.love {
        width: 15px;
        height: 15px;
        font-size: 7px;
    }
    .post header > div {
        font-size: 12px;
    }
    .post footer .actions .comment svg,
    .post footer .actions .share svg {
        height: 14px !important;
    }

    .post .actions .feed-container .feed,
    .post footer .actions > div {
        padding: 5px;
    }
} 
